#flag{
    background-color: rgb(221, 45, 45);
    height: 300px;
    width: 500px;
    position: relative;
}

#container{
    background-color: rgb(37, 37, 127);
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
}

#circle{
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 15px;
}