#flag{
    background-color: yellow;
    height: 300px;
    width: 500px;
    position: relative;
}

.containers{
    background-color: rgb(19, 19, 144);
}

#container1{
    height: 100px;
    width: 150px;
}
#container2{
    height: 100px;
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    
}
#container3{
    height: 100px;
    width: 150px;
    position: absolute;
    bottom: 0px;
}
#container4{
    height: 100px;
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}