#flag{
    background-color: white;
    height: 300px;
    width: 500px;
    position: relative;
}

#circle{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 50%;
}