/* *{
    padding: 0px;
    margin: 0px;
} */

h2{
    background-color: orange;
    position: relative;
    left: 20px;
    /* right: 5px;
    top: 20px;
    bottom: 20px; */
}

h3{
    background-color: green;
    position: fixed;
    /* top: 0px;
    left: 50px; */
}

h4{
    background-color: brown;
    position: sticky;
    top: 10px;
}