h1{
    background-color: green;
    height: 200px;
    width: 400px;
    border: 10px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
}

h2{
    background-color: red;
    height: 200px;
    width: 400px;
    border: 10px solid yellow;
    padding: 10px;

}

p{
    background-color: antiquewhite;
    border: 3px solid blue;
    padding: 20px;
    margin: 10px;
}