*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /*background-color: orange;
    *//*box-shadow: 10px 5px blueviolet;
    *//*box-shadow: 20px 20px 3px blue;
    *//*box-shadow: inset 10px 10px blue;
    background-color: yellow;
    /* border-radius: 50%; */
    /* box-shadow: 00px 0px 10px 10px red; */
    overflow: scroll;
}

/* offset-x offset-y blur radius spread-radius */

/* inset se shadown andar ki taraf aati hai. */