.container{
    height: 400px;
    width: 400px;
    background-color: brown;
    color: beige;
    font-size: 50px;
}

/* Here Screen refer to your device screen */
/* @media screen and (max-width:900px) {
    .container{
        background-color: green;
        font-size: 30px;
    }  
}

@media screen and (max-width:600px) {
    .container{
        background-color: pink;
        font-size: 30px;
    }  
} */


@media screen and (min-width:600px) {
    .container{
        background-color: orange;
        font-size: 60px;
    }  
} 

@media screen and (min-width:900px) {
    .container{
        background-color: red;
        font-size: 80px;
    }  
} 