*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 40px;
}

.container{
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 20px;
    padding: 10px
}

.box{
    background-color: rgb(80, 80, 201);
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}