*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 700px;
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    color: white;
}

.l-side1{
    grid-row: 1/3;
    background-color: red;
    
}

.l-side2{
    grid-row: 3/4;
    background-color: whitesmoke;
}