*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 231, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    height: 500px;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    
}


h1{
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 25px;
    padding: 12px;
    font-size: 20px;
    margin-bottom: 20px;
}

button{
    width: 100%; 
    height: 40px; 
    font-size: 20px; 
    padding: 5px; 
    background-color: rgb(54, 140, 54); 
    color: white; 
    font-weight: 500;
    cursor: pointer;
}