
.container{
    background-color: antiquewhite;
    display: flex;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;

}
/* Justify Content : - Main axis ke around kam karta hai 
main axis decide kaun karega, aapka flex direction. */
/* align items work around cross axis */

.box{ 
    height: 100px;
    width: 100px;
    /* margin: 5px; */
}

.first{
    background-color: orange;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
}

.second{
    background-color: green;
    /* flex-grow: 2; */
    /* flex-basis: 200px; */
}

.third{
    background-color: red;
    /* flex-basis: 300px; */
    /* align-self: flex-start; */
    /* align-self: flex-end; */
}

.fourth{
    background-color: pink;
    
}