*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 800px;
}

.box{
     height: 150px;
     width: 150px;
     background-color: orange;
     cursor: pointer;
     /*transform: translateY(200px);
     *//*transition-property: all;
     transition-duration: 3s;
     transition-timing-function: ease-in;
     transition-delay: 2s;
     /*sorthandnotationfortransitiontransition: all 3s ease-in 2s;
     /*transition-duration: 2s;
     /*transform: rotate(30deg);
     /**//*transform: skewX(30deg);
     /* transition: 3s; */
     font-size: 50px;
     color: white;
     animation-name: moving;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     
}

@keyframes moving {
    from{
        transform: rotate(0deg);
}
    to{
        transform: rotate(360deg);
}
    
}

/* .box:hover{
    /*background-color: purple;
    width: 200px;
    height: 200px;
    /*transform: scaleX(3);
    */transform: rotateY(90deg);
} */