*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 40px;
    padding: 10px;
    color: green;
    width: 50%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
}

p{
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}